.results {
  text-align: right;
  padding: 0.5rem 0.75rem 0 0.75rem;
  background-color: white;
  color: $calc-buttons;
}

.answer {
  padding: 1rem 0;
  overflow-x: hidden;
  font-size: 4rem;
}

.input {
  //letter-spacing: 2px;
  overflow-x: hidden;
  white-space: no-wrap;
  height: 20px;
}
